[Unit]
Description=Wi-Fi Channel Hopping Script
After=network.target

[Service]
ExecStart=/bin/bash /home/kian/hubcode/channel_hopper.sh
Restart=always
RestartSec=10
User=root
Group=root
WorkingDirectory=/home/kian/hubcode/
StandardOutput=append:/var/log/channel_hopper.log
StandardError=append:/var/log/channel_hopper.log
SyslogIdentifier=channel_hopper

[Install]
WantedBy=multi-user.target


## Start script after restart

[Unit]
Description=Production MQTT Listener 
After=network.target

[Service]
ExecStart=/home/root/hubcode/production_mqtt_listener_executable  # Replace with the actual executable
Restart=always
RestartSec=10
User=root
Group=root
WorkingDirectory=/home/root/hubcode/
StandardOutput=append:/var/log/production_mqtt_listener.log
StandardError=append:/var/log/production_mqtt_listener.log
SyslogIdentifier=production_mqtt_listener

[Install]
WantedBy=multi-user.target


sudo systemctl daemon-reload
sudo systemctl enable production_mqtt_listener.service
sudo systemctl start production_mqtt_listener.service


